<!-- <div class="row" style="max-width: 100%;">

  <div>
    <div class="container d-flex">
      <div class="col-md-4 px-0 ">
        <img class="img-fluid" src="../../assets/icon/Logo.png"/>
      </div>
    
      <div class="md-4 px-0 loginform">
        <div>

        </div>
        <h1>Login</h1>
        <form
          class="mt-3 mb-3"
          id="prospects_form"
          ngNativeValidate
          (submit)="login($event)"
        >
          <div class="form-group mt-2">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email..."
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              id="pass"
              name="pass"
              class="form-control"
              placeholder="Password..."
              required
            />
          </div>
          <button
            type="submit"
            id="loginButton"
          >
            Log In
          </button>
          <button
            type="button"
            (click)="register()"
            id="registerbutton"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div> -->

<!-- <div class="col">
    <div class="loginform">
      <h1>Login</h1>
      <form
        class="mt-3 mb-3"
        id="prospects_form"
        ngNativeValidate
        (submit)="login($event)"
      >
        <div class="form-group mt-2">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email..."
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="pass"
            name="pass"
            class="form-control"
            placeholder="Password..."
            required
          />
        </div>
        <button
          type="submit"
          id="loginButton"
        >
          Log In
        </button>
        <button
          type="button"
          (click)="register()"
          id="registerbutton"
        >
          Register
        </button>
      </form>
    </div>
  </div> -->
<!-- </div>

<div id="page-overlay" *ngIf="showSpinner">
  <img class="rotate" id="spinner" src="../../../assets/icon/benef_logo.png"><b id="wait">Please wait...</b>
</div> -->

<!-- <div class="screen">
  <div class="container d-flex contain">
    <div class="col">
      <img class="rounded img-fluid" width="30%" src="../../assets/icon/Logo.png"/>
    </div>
  
      <div class="loginform">
        <h1>Login</h1>
        <form
          class="mt-3 mb-3"
          id="prospects_form"
          ngNativeValidate
          (submit)="login($event)"
        >
          <div class="form-group mt-2">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email..."
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              id="pass"
              name="pass"
              class="form-control"
              placeholder="Password..."
              required
            />
          </div>
          <button
            type="submit"
            id="loginButton"
          >
            Log In
          </button>
          <button
            type="button"
            (click)="register()"
            id="registerbutton"
          >
            Register
          </button>
        </form>
      </div>
  </div>
</div> -->

<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="contain mx-auto my-auto">
              <div style="display: flex">
                <div style="flex-basis: 70%">
                  <img class="logo_img mb-3" src="assets/icon/benef_log.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="container h-100">
              <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                  <div class="d-flex justify-content-center form_container">
                    <form ngNativeValidate (submit)="login($event)">
                      <h1
                        style="
                          color: rgb(2, 34, 12);
                          text-align: center;
                          font-weight: 500;
                        "
                      >
                        Loginasd
                      </h1>
                      <div class="input-group mb-3">
                        <!-- <div class="input-group-append">
                          <span class="input-group-text"
                            ><i class="fas fa-user"></i
                          ></span>
                        </div> -->
                        <input
                          type="email"
                          name=""
                          class="form-control input_user"
                          value=""
                          placeholder="Enter Emailasdasdaasds"
                          required
                        />
                      </div>
                      <div class="input-group mb-2">
                        <!-- <div class="input-group-append">
                          <span class="input-group-text"
                            ><i class="fas fa-key"></i
                          ></span>
                        </div> -->
                        <input
                          name=""
                          [type]="passwordType"
                          class="form-control input_pass"
                          value=""
                          placeholder="Password"
                          required
                        />
                      </div>

                      <div class="form-check mb-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                          (change)="onChange()"
                          [(ngModel)]="checkBox"
                          [ngModelOptions]="{ standalone: true }"
                        />
                        <small
                          ><label
                            class="form-check-label"
                            style="color: rgb(2, 34, 12)"
                          >
                            Show Password
                          </label></small
                        >
                      </div>

                      <div
                        class="d-flex justify-content-center mt-3 login_container"
                      >
                        <button
                          type="submit"
                          name="button"
                          class="btn login_btn"
                        >
                          Login
                        </button>
                      </div>
                      <div
                        class="d-flex justify-content-center mt-3 login_container"
                      >
                        <!-- <button
                          type="button"
                          name="button"
                          class="btn login_btn"
                          (click)="register()"
                        > 
                          Register
                        </button> -->
                        <span style="color: rgb(2, 34, 12)"
                          >Don't have an Account?
                          <a href="#/register"
                            ><b><u>Sign Up</u></b></a
                          ></span
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page-overlay" *ngIf="showSpinner">
  <img class="rotate" id="spinner" src="assets/icon/benef_logo.png" /><b
    id="wait"
    >Please wait...</b
  >
</div>
