.list-group-item {
    // max-width: 90%;
    margin-bottom: 5%;
    cursor: pointer;
    border-radius: 20px;
    min-height: 95%;
    // border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background: none;
}

#details {
    margin-bottom: 1%;
}