<div
  class="mx-auto"
  id="main_card"
  style="width: 75%; margin-top: 1%; background: none"
>
  <div class="card-body">
    <div class="card-title text-center header-top">
      <div class="showcase">
        <h3 class="mt-1" id="line-style" style="text-align: center">
          <span class="explorer">UNDER SERVICE</span>
        </h3>
      </div>
    </div>

    <div *ngIf="!orders" style="text-align: center">
      <img src="assets/empty.svg" alt="emp" />
      <h3>
        <strong>There are no orders being processed yet.. Order More!</strong>
      </h3>
      <br />
    </div>

    <ul class="list-group">
      <div class="row">
        <div
          class="col-sm-6"
          (click)="view(i, order)"
          *ngFor="let order of orders; index as i"
        >
          <li class="list-group-item" matRipple>
            <div class="row">
              <div class="col">
                <div>
                  <div style="display: flex" class="mb-0">
                    <div
                      *ngIf="
                        order.order_flower == 'Generated Flower Bouquet';
                        else quick
                      "
                      style="flex-basis: 15%"
                    >
                      <img
                        class="rounded float-left"
                        id="img-view"
                        src="assets/icon/benef_log.jpg"
                      />
                    </div>
                    <ng-template #quick>
                      <div style="flex-basis: 15%" id="preview">
                        <img
                          class="rounded float-left"
                          id="img-view"
                          src="https://detailsblooms.gc-ecommerceapp.com/api/bloompod_api/quick/{{
                            order.order_flower
                          }}.jpg"
                        />
                      </div>
                    </ng-template>

                    <div class="ml-4" style="color: #08595e">
                      <h1 class="mb-0" style="font-family: 'bebas'">
                        {{ order.order_flower }}
                      </h1>
                      <h2 class="mt-0">
                        ₱<b> {{ order.order_totalprice }}</b>
                      </h2>
                    </div>
                  </div>
                  <hr class="mt-0" />

                  <div class="row">
                    <div class="col">
                      <p>Mode:</p>
                      <p id="Infos">
                        {{ order.order_payment }}
                      </p>
                    </div>

                    <div class="col">
                      <p>Status:</p>
                      <p id="Infos">{{ order.order_status }}</p>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col">
                      <p>Date and Time:</p>
                      <p id="Infos">
                        {{ order.order_date | date }} at {{ order.order_time }}
                      </p>
                    </div>

                    <div class="col">
                      <p>For:</p>
                      <p id="Infos" *ngIf="order.order_recipient">
                        {{ order.order_recipient }}
                      </p>
                      <p id="Infos" *ngIf="!order.order_recipient">Myself</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
